<div class="switcher">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            {{ current_version.capitalize() }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            {% for key, display in versions.iteritems() %}
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/docs/{{ key }}{{ current_section }}">{{ display }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
